.header .head .right1 .search .one{
    border: 1px solid white;
    border-bottom-color: white;
}
.header .head .right1 .search .four{
    border: 1px solid white;
    border-bottom-color: green;
}
.product .search .tiaojian .two{
    height: 240;
}
.product .search .tiaojian .one .img{
    width: 120px;
    height: 120px;
    background-image: url("../images/logo.ico");
    background-size: cover;
    margin-left: 50px;
    margin-top: 50px;
}
.product .search .tiaojian .one div{
    margin-left: 30px;
    margin-top: 80px;
}
.product .search .tiaojian .one .one{
    font-size: 24px;
}
.product .search .tiaojian .one .two{
    color: green;
}
.product .search .tiaojian .two div{
    height: 200px;
    margin-top: 40px;
}
.product .search .liucheng .one .img{
    width: 150px;
    height: 120px;
    background-image: url("../images/process.png");
    background-size: cover;
    margin-left: 30px;
    margin-top: 50px;
}
.product .search .liucheng .one div{
    margin-left: 20px;
    margin-top: 80px;
}
.product .search .liucheng .one .one{
    font-size: 24px;
}
.product .search .liucheng .one .two{
    color: green;
}
.product .search .liucheng .two{
    height: 280px;
}
.product .search .liucheng .two div{
    height: 200px;
}
.product .search .zhengce .one .img{
    width: 150px;
    height: 120px;
    background-image: url("../images/policy.png");
    background-size: cover;
    margin-left: 30px;
    margin-top: 50px;
}
.product .search .zhengce .one div{
    margin-left: 20px;
    margin-top: 80px;
}
.product .search .zhengce .one .one{
    font-size: 24px;
}
.product .search .zhengce .one .two{
    color: green;
}
.product .search .zhengce .two{
    height: 520px;
}
.product .search .zhengce .two span{
    color: green;
}
.product .search .zhengce .two p{
    text-indent: 20px;
}
.product .search .zhengce .two div{
    height: 200px;
    margin-top: 10px;
}